doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="reset.css")
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="/img/fav_broccoli.ico", type="image/x-icon")
        title Organic

    body 
        .container 
            header.header 
                
                h1.logo HELLO THERE! INC.
                nav.header_nav 
                    ul 
                        //-  li*5>a
                        li
                            a(href="#!") HOME   
                        li
                            a(href="#!") ABOUT
                        li
                            a(href="#!") PRODUCTS
                        li
                            a(href="#!") LOCATION
                        li
                            a(href="#!") CONTACT
                button.search 

                    svg.search_icon(width="35" height="35" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                        path(
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M4.47501 4.47502C3.95867 4.98448 3.54821 5.59106 3.26726 6.25981C2.9863 6.92856 2.84041 7.64628 2.83798 8.37165C2.83555 9.09702 2.97663 9.8157 3.2531 10.4863C3.52956 11.1569 3.93595 11.7662 4.44886 12.2792C4.96178 12.7921 5.57109 13.1985 6.24171 13.4749C6.91233 13.7514 7.63101 13.8925 8.35638 13.89C9.08174 13.8876 9.79947 13.7417 10.4682 13.4608C11.137 13.1798 11.7435 12.7694 12.253 12.253C13.273 11.2192 13.8428 9.82395 13.8379 8.37165C13.8331 6.91935 13.254 5.52792 12.227 4.50099C11.2001 3.47405 9.80868 2.89497 8.35638 2.89011C6.90408 2.88524 5.5088 3.45499 4.47501 4.47502ZM10.839 10.839C10.514 11.164 10.1281 11.4219 9.70347 11.5978C9.27881 11.7737 8.82366 11.8642 8.36401 11.8642C7.90436 11.8642 7.44921 11.7737 7.02455 11.5978C6.59989 11.4219 6.21403 11.164 5.88901 10.839C5.56399 10.514 5.30617 10.1281 5.13027 9.70348C4.95437 9.27882 4.86383 8.82367 4.86383 8.36402C4.86383 7.90437 4.95437 7.44922 5.13027 7.02456C5.30617 6.5999 5.56399 6.21404 5.88902 5.88902C6.54542 5.23261 7.4357 4.86384 8.36401 4.86384C9.29232 4.86384 10.1826 5.23261 10.839 5.88902C11.4954 6.54543 11.8642 7.43571 11.8642 8.36402C11.8642 9.29232 11.4954 10.1826 10.839 10.839Z"
                        )
                        path(
                            d="M11.192 13.314C11.0527 13.1747 10.9422 13.0093 10.8667 12.8273C10.7913 12.6452 10.7525 12.4501 10.7525 12.253C10.7525 12.056 10.7913 11.8609 10.8667 11.6788C10.9422 11.4968 11.0527 11.3314 11.192 11.192C11.3313 11.0527 11.4968 10.9422 11.6788 10.8668C11.8609 10.7914 12.056 10.7526 12.253 10.7526C12.4501 10.7526 12.6452 10.7914 12.8272 10.8668C13.0093 10.9422 13.1747 11.0527 13.314 11.192L16.849 14.728C16.9923 14.8664 17.1066 15.0319 17.1852 15.2149C17.2638 15.3979 17.3052 15.5948 17.3069 15.7939C17.3086 15.9931 17.2707 16.1906 17.1952 16.375C17.1198 16.5593 17.0084 16.7268 16.8676 16.8676C16.7268 17.0085 16.5593 17.1199 16.3749 17.1953C16.1906 17.2707 15.9931 17.3087 15.7939 17.3069C15.5947 17.3052 15.3979 17.2638 15.2149 17.1852C15.0319 17.1066 14.8664 16.9923 14.728 16.849L11.192 13.314Z"
                        )
            main.main 
                .slider-arrows 
                    .slider-arrows_items-wrapper 
                        //- img.slider-arrows_item(src="img/green-apples.jpg", alt="", srcset="")
                        img.slider-arrows_item(src="/img/basket-apples.jpg", alt="", srcset="")
                    .slider-arrows_nav 
                        button.slider-arrows_arrow.slider-arrows_arrow--left <
                        button.btn.slider-arrows_btn start drinking
                        button.slider-arrows_arrow.slider-arrows_arrow--right >
                .slider-dots
                    .slider-dots_items-wrapper 
                        img.slider-dots_item(src="img/carrots.jpg", alt="", srcset="")
                    .slider-dots_btn-wrapper 
                        button.btn.slider-dots_btn start drinking
                    .slider-dots_nav 
                        button.slider-dots_nav-item 
                        button.slider-dots_nav-item.slider-dots_nav-item--active 
                        button.slider-dots_nav-item 
                article.freshy.common 
                    h2.title go green and stay 
                     span fre&shy;shy 
                    .common__desc 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            i Aspernatur, 
                            |cum magni soluta enim corrupti consectetur nemo qui beatae possimus ad. Lorem ipsum dolor, sit amet consectetur adipisicing elit. <u>Eligendi,</u> odio?
                article.healthy.common.common--col-rev
                    h2.title worry less and drink 
                     span hel&shy;thy 
                    .common__desc 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            i Aspernatur, 
                            |cum magni soluta enim corrupti consectetur nemo qui beatae possimus ad. Lorem ipsum dolor, sit amet consectetur adipisicing elit. <u>Eligendi,</u> odio?
                article.thirsty.common 
                    h2.title go green and stay 
                     span fre&shy;shy 
                    .common__desc 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            i Aspernatur, 
                            |cum magni soluta enim corrupti consectetur nemo qui beatae possimus ad. Lorem ipsum dolor, sit amet consectetur adipisicing elit. <u>Eligendi,</u> odio?




