/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=Roboto&display=swap");
@font-face {
  font-family: "kotyhoroshko";
  src: url("/fonts/Kotyhoroshko-Regular.0.2.otf") format("opentype");
}

/* 
font-family: "Fira Sans Condensed", sans-serif; назви
font-family: "PT Sans",sans-serif; звичайний текст
font-family: "Roboto", sans-serif; для лого
 */

* {
  /* background-color: rgb(251, 255, 254); */

  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  transition: opacity 0.2s;
  text-shadow: 1px 0px 0 #7a7a7a;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}

p {
  font-family: "kotyhoroshko";
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
  display: grid;
  /* grid-template-rows: max-content;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: 'logo nav search'; */
  grid-template: "logo nav search" max-content / 3fr 2fr 1fr;
  align-items: center;
  justify-items: start;
  padding: 20px 0;
  text-transform: uppercase;
  overflow: hidden;
}

.logo {
  grid-area: logo;
  justify-self: end;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #ca0043;
  line-height: 1;
  padding-right: 19%;
  transition: color 0.3s;
}

.header_nav {
  grid-area: nav;
}

.header_nav ul {
  display: flex;
  gap: 10px;
}

.header_nav a {
  padding: 10px;
  transition: color 0.3s, font-weight 0.3s;
  position: relative;
  display: inline-block;
}

.header_nav a:hover,
.logo:hover {
  color: rgb(91, 151, 153);
  font-weight: bold;
}

.logo:hover {
  cursor: cell;
}

.header_nav a:active {
  color: rgb(50, 84, 85);
}

.header_nav a:after {
  content: "";
  display: block;
  width: 100%;
  height: 20%;
  background: cadetblue;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: bottom 0.4s, background-color 0.2s;
}

.header_nav a:hover:after {
  bottom: 0;
}

.header_nav a:active:after {
  background-color: rgb(50, 84, 85);
}

.search {
  grid-area: search;
}

.search_icon {
  transition: fill 0.2s;
}

.search_icon:hover {
  fill: rgb(91, 151, 153);
}

.search_icon:active {
  fill: rgb(50, 84, 85);
}

/* main */
/* main */
/* main */
.main {
  display: grid;
  /* grid-template-rows: 3fr 1fr 3fr;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr;
  grid-template-areas:
    "slider-arrows healthy thirsty thirsty"
    "slider-arrows healthy slider-dots orange"
    "freshy healthy slider-dots orange";  */
  grid-template:
    "slider-arrows healthy thirsty thirsty" 3fr
    "slider-arrows healthy slider-dots orange" 1fr
    "freshy healthy slider-dots orange" 3fr / 2fr 1fr 1.5fr 1.5fr;
}

/* arrows
arrows
arrows */
.slider-arrows {
  grid-area: slider-arrows;
  position: relative;
  max-width: fit-content;
}

.slider-arrows_items-wrapper {
  filter: brightness(110%);
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-arrows_item {
}

.slider-arrows_nav {
  position: absolute;
  bottom: 9%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* transform: translateY(100%); */
}

.slider-arrows_arrow {
  color: rgb(255, 255, 255);
  font-size: 34px;
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: opacity 0.2s;
}

.slider-arrows_arrow:hover {
  opacity: 0.8;
}

.slider-arrows_arrow:active {
  opacity: 0.6;
}

.slider-arrows_arrow--left {
}

.slider-arrows_btn {
}

.slider-arrows_arrow--right {
}

/* dots
dots
dots */

.slider-dots {
  grid-area: slider-dots;
  position: relative;
  max-width: fit-content;
}

.slider-dots_items-wrapper {
  filter: brightness(90%);
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-dots_item {
}

.slider-dots_btn-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-dots_nav {
  width: 100%;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.slider-dots_nav-item {
  width: 25px;
  height: 20px;
  background-color: rgb(255, 246, 241);
  transform: rotate(35deg);
  border-radius: 29% 17% 35% 26% / 38% 30% 38% 36%;
  transition: opacity 0.2s;
}

.slider-dots_nav-item:hover {
  opacity: 0.9;
}

.slider-dots_nav-item:active {
  opacity: 0.7;
}

.slider-dots_nav-item--active {
  background: transparent;
  border: 1px solid white;
}

/* 
FRESHY
FRESHY
FRESHY */

.freshy {
  grid-area: freshy;
  background-color: rgba(196, 232, 108, 1);
}

.common {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.title {
  font-family: "Fira Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  width: 140px;
  font-weight: 300;
  line-height: 1;
}

.title span {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 3px;
  /* span becomes block element: */
  display: block;
}

.title span::first-line {
  font-weight: 900;
}

.common__desc {
  max-width: 60%;
  hyphens: auto;
  text-align: right;
}

.healthy {
  grid-area: healthy;
  background-color: rgba(255, 71, 71, 1);
}

.thirsty {
  grid-area: thirsty;
  background-color: rgba(255, 181, 72, 1);
}
