@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Roboto&display=swap");

/* 
font-family: "Fira Sans Condensed", sans-serif; назви
font-family: "PT Sans",sans-serif; звичайний текст
font-family: "Roboto", sans-serif; для лого
 */

* {
  background-color: rgb(250, 255, 241);
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
  display: grid;
  /* grid-template-rows: max-content;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: 'logo nav search'; */
  grid-template: "logo nav search" max-content / 3fr 2fr 1fr;
  align-items: center;
  justify-items: start;
}

.header_logo-wrapper {
  grid-area: logo;
}

.logo {
  /* background: olivedrab; */
}

.header_nav {
  grid-area: nav;
  background-color: blue;
}

.search {
  grid-area: search;
  background-color: salmon;
}
