@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;900&family=PT+Sans&family=Roboto&display=swap");

/* 
font-family: "Fira Sans Condensed", sans-serif; назви
font-family: "PT Sans",sans-serif; звичайний текст
font-family: "Roboto", sans-serif; для лого
 */

* {
  background-color: rgb(251, 255, 254);
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
  display: grid;
  /* grid-template-rows: max-content;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: 'logo nav search'; */
  grid-template: "logo nav search" max-content / 3fr 2fr 1fr;
  align-items: center;
  justify-items: start;
  padding: 20px 0;
  text-transform: uppercase;
}

/* .header_logo-wrapper {
  grid-area: logo;
  justify-self: end;
} */

.logo {
  grid-area: logo;
  justify-self: end;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #ca0043;
  /* width: 160px; */
  line-height: 1;
  padding-right: 19%;

}

.header_nav {
  grid-area: nav;
  background-color: blue;
}

.header_nav ul {
  display: flex;
  gap: 10px;
}

.header_nav a {
  padding: 10px;
  transition: color 0.3s, font-weight 0.3s;
  ;

}

.header_nav a:hover {
  color: rgb(91, 151, 153);
  font-weight: bold;
}

.header_nav a:active {
  color: rgb(50, 84, 85);
}

.search {
  grid-area: search;
  background-color: salmon;
}